body{
  background-color: #CEE5D0;
  font-family: sans-serif;
}
hr{
  border-style: dotted none none;
  color: #5E454B;
  border-width: 4px;
  width: 5%;
}
h1{
  color: #5E454B;
  font-family: Verdana, Geneva, sans-serif;
}

h3{
  color: #5E454B;
  font-family: Verdana, Geneva, sans-serif;
}
